<div class='modal-card'>
  <img
    src='{{this.image}}'
    alt='{{this.name}}'
    loading='lazy'
    class='modal-img'
  />
  <div class='modal-info'>
    <img
      src='{{this.imageBig}}'
      alt='{{this.name}}'
      loading='lazy'
      class='big-modal-img'
    />
    <div class='info'>
      <b class='info-title'>Info</b>
      <p class='info-text'>
        {{this.info}}
      </p>
      <b class='info-title'>When</b>
      <p class='info-text date'>
        {{this.date}}
      </p>
      <p class='info-text'>
        {{this.time}}
        ({{this.city}}/{{this.country}})
      </p>
      <b class='info-title'>Where</b>
      <p class='info-text'>
        {{this.city}},
        {{this.country}}
        {{this.location}}
      </p>
      <b class='info-title'>Who</b>
      <p class='info-text'>
        {{this.name}}
      </p>
      <b class='info-title price'>Prices</b>
      <div class='price-group'>
        <div class='zip-code'></div>
        <p class='info-text standart'>Standart
          {{this.priceMin}}
          -
          {{this.priceMax}}
          {{this.currency}}
        </p>
      </div>
      <a href='{{this.link}}' target='_blank' rel='noopener noreferrer'>
        <button class='modal__buy-btn' type='button'>Buy tickets</button>
      </a>
      <div class='price-group vip'>
        <div class='zip-code'></div>
        <p class='info-text text-vip'>VIP will be avalible soon
        </p>
      </div>
      <a href='{{this.link}}' target='_blank' rel='noopener noreferrer'>
        <button class='modal__buy-btn' type='button'>Buy tickets</button>
      </a>
    </div>
  </div>
</div>