<div class='modal-card'>
  <div>
    <img
      src='{{this.imageBig}}'
      alt='{{this.name}}'
      loading='lazy'
      class='big-modal-img'
    />
  </div>
  <img
    src='{{this.image}}'
    alt='{{this.name}}'
    loading='lazy'
    class='modal-img'
  />
  <div class='info'>
    <b class='info-title'>Info</b>
    <p class='info-text'>
      {{this.info}}
    </p>
    <b class='info-title'>When</b>
    <p class='info-text'>
      {{this.date}}
      {{this.time}}
    </p>
    <b class='info-title'>Where</b>
    <p class='info-text'>
      {{this.city}}
      {{this.country}}
      {{this.location}}
    </p>
    <b class='info-title'>Who</b>
    <p class='info-text'>
      {{this.name}}
    </p>
    <b class='info-title price'>Prices</b>
    <div class='group'>
       <svg width="24" height="16" class="zip-code">
         <path d="M2.667.833H0v16h2.667v-16ZM9.374.833H6.707v16h2.667v-16ZM13.414.833h-2.666v16h2.666v-16ZM24 .833h-3.96v16H24v-16ZM5.333.833H4.04v16h1.293v-16ZM16 .833h-1.293v16H16v-16ZM18.667.833h-1.293v16h1.293v-16Z" fill="#0E0E0E"/>
      </svg>
      <p class='info-text'>Standart price:
        {{this.priceMin}}
        
        {{this.priceMax}}{{this.currency}}
      </p>
    </div>
    <a href='{{this.link}}'>
      <button class='modal__buy-btn' type='button'>Buy tickets</button>
    </a>
    <div class="group vip">
      <svg width="24" height="16" class="zip-code">
         <path d="M2.667.833H0v16h2.667v-16ZM9.374.833H6.707v16h2.667v-16ZM13.414.833h-2.666v16h2.666v-16ZM24 .833h-3.96v16H24v-16ZM5.333.833H4.04v16h1.293v-16ZM16 .833h-1.293v16H16v-16ZM18.667.833h-1.293v16h1.293v-16Z" fill="#0E0E0E"/>
      </svg>
    <p class='info-text'>VIP price: will be avalible soon
    </p>
    </div>
    
    <a href='{{this.link}}'>
      <button class='modal__buy-btn' type='button'>Buy tickets</button>
    </a>

  </div>
</div>